body{
    text-align: center;
}

input{
  width: 300px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px; /* space between boxes */
  font-size: 20px;
  border-radius: 8px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 6rem;
}
.linked {
  margin-top: 1rem;
  color: lightblue;
}
